version: '3.8'

services:
  api-gateway:
    build: ./api-gateway
    ports:
      - "3000:3000"
    environment:
      - BACKEND_URL=http://java-backend:8080
    depends_on:
      - backend

  backend:
    image: here-will-be-our-java-back
    ports:
      - "8080:8080"